.full_background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}

.full_background--center {
  @extend .full_background;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#first .full_background--center {
  background-image: url("https://i.imgur.com/JT4q2ci.jpg");
}
#second .full_background--center {
  background-image: url("https://i.imgur.com/6I9Q5NS.jpg");
}
#third .full_background--center {
  background-image: url("https://i.imgur.com/akyySnu.jpg");
}

#about .full_background--center {
  background-image: url("../img/funky-lines.png");
}

#contact .full_background--center {
  background-image: url("../img/Swear_Jar.jpg");
}
